@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #1c2434;
}

body {
  font-family: "Poppins";
  background-color: #F1F5F9;
  font-family: "Inter", sans-serif;

}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}